/* .footer{
    padding: 20px;
    margin: 0;
    position: fixed;
    height: 85px;
    width: 100%;
    bottom: 0;
    font-size: small;
}

h5{
    font-size: medium;
    color: black;
}

a{
    font-size: 25px;
    padding: 0px 3px;
    color: cadetblue;
}

i{
    padding: 0px 5px;
} */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgb(221, 148, 13);
    color: rgb(9, 2, 24);
    text-align: center;
    margin: 0px;
    }