<div class="project">
<mat-card class="example-card">
    <mat-card-title class="text-center">StudentConnect</mat-card-title>
    <mat-card-content>
      <h2>Features</h2>
      <ol type="1">
        <li>Teachers can upload assignments, study materials of their subjects from their end using this app.</li>
        <li>Students can see the uploaded assignments, study materials and submit the solutions for the assignments before the mentioned due time.</li>
        <li>There is also a feature of quiz in the app. Teacher can set quiz for students from their side and students can access that quiz from student's side.</li>
      </ol>

      <h2>Technologies Used</h2>
      <ol>
        <li>Android Studio</li>
        <li>Core Java</li>
        <li>XML</li>
        <li>Firebase</li>
      </ol>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title class="text-center">Lodgesmart</mat-card-title>
    <mat-card-content>
      <h2>Features</h2>
      <ol type="1">
        <li>The admin and reception entry will be created by developer and through entry
          details he/she can login in the system.</li>
        <li>Admin will add new rooms, employee details and delete rooms and employee details when needed and also can update the room price and employee salaries</li>
        <li>In this software,the lodge manager can add new customers and manage the customer
          information.This software works at all lodges that cater to a small no. of customers
          and want to computerize the complete management process.The scope of the system
          lies between the services and management of the lodge.</li>
      </ol>

      <h2>Technologies Used</h2>
      <ol>
        <li>Eclipse IDE</li>
        <li>Core Java</li>
        <li>MySQL</li>
      </ol>
      <!-- <p>
        This project is built using Core Java concepts like AWT, 
Swing and MySQL for backend. Main objective of this 
project is design a system for lodge management.

      </p> -->
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>
</div>