.text-center{
    margin-top: 30px;
    /* animation: animate 3s ease; */
}

.animate{
    animation: animate 5s ease;
}

h3
{
    font-size: 20px;
    text-justify: auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 30px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

mat-card{
    width: 40%;
    margin-left: 100px;
    margin-bottom: 15px;
    background-color: black;
}




@keyframes animate {
    0%{
        transform: translateY(250px);
    }

    100%{
        transform: translateY(0);
    }
}
